.PalettePreviewer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

.color-previewer-item{
    border: 1px solid #000;
    padding-left: 1em;
}