.ControlPanel {
    min-height: 50vh;
    background-color: rgb(255, 255, 255);
    
    box-shadow: 0 5px 5px -2px #888;
    
    position: relative;
    z-index: 20;
}

.control-panel-header {
    padding-top: .5em;
    padding-bottom: 1em;
}

.control-panel-button-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}