.ContrastChecker {
    background-color: rgb(145, 145, 145);
    color: black;
    height: 100vh;
    overflow-y: scroll;
}

.card-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
}